body {
  margin: 0;
  padding: 0%;
  background-color: black;
  background-size: cover;
}
.login-Box {
  width: 400 px;
  border: none;
  padding: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img {
  padding: 40px;
}
.login-Box input[type="text"],
.login-Box input[type="password"] {
  background: rgb(28, 151, 172, 0.22);
  width: 300px;
  height: 32px;
  font-size: 15px;

  color: white;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-left: 40px;
  margin: 20 px;
  margin-bottom: 30px;
  border: 2px solid rgb(28, 151, 172, 10);
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  font-size: 16px;
}
.login-Box i {
  position: absolute;
  left: 90px;
  margin-left: 12px;
  margin-top: 10px;
  color: #1c97ac;
  font-size: 16px;
}
a {
  color: #1c97ac;
  padding: 20px;
  text-decoration: none;
}
input::-webkit-input-placeholder {
  color: #1c97ac;
  text-align: left;
  margin: 10px;
}
#RR {
  color: #1c97ac;
  padding-right: 20px;
}
#pb {
  color: #1c97ac;
}
.btn {
  width: 40%;
  cursor: pointer;
  text-align: center;
  background-color: #1c97ac;
  font-size: auto;
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 20px;
  border: 2px solid #1c97ac;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  color: black;
  margin-bottom: 100px;
}
